.bg-gray {
  &-100 { background-color: $gray-100; }
  &-200 { background-color: $gray-200; }
  &-300 { background-color: $gray-300; }
  &-400 { background-color: $gray-400; }
  &-500 { background-color: $gray-500; }
  &-600 { background-color: $gray-600; }
  &-700 { background-color: $gray-700; }
  &-800 { background-color: $gray-800; }
  &-800 { background-color: $gray-800; }
  &-900 { background-color: $gray-900; }
}

.bg-red {
  &-100 { background-color: $red-100; }
  &-200 { background-color: $red-200; }
  &-300 { background-color: $red-300; }
  &-400 { background-color: $red-400; }
  &-500 { background-color: $red-500; }
  &-600 { background-color: $red-600; }
  &-700 { background-color: $red-700; }
  &-800 { background-color: $red-800; }
  &-800 { background-color: $red-800; }
  &-900 { background-color: $red-900; }
}

.bg-orange {
  &-100 { background-color: $orange-100; }
  &-200 { background-color: $orange-200; }
  &-300 { background-color: $orange-300; }
  &-400 { background-color: $orange-400; }
  &-500 { background-color: $orange-500; }
  &-600 { background-color: $orange-600; }
  &-700 { background-color: $orange-700; }
  &-800 { background-color: $orange-800; }
  &-800 { background-color: $orange-800; }
  &-900 { background-color: $orange-900; }
}

.bg-yellow {
  &-100 { background-color: $yellow-100; }
  &-200 { background-color: $yellow-200; }
  &-300 { background-color: $yellow-300; }
  &-400 { background-color: $yellow-400; }
  &-500 { background-color: $yellow-500; }
  &-600 { background-color: $yellow-600; }
  &-700 { background-color: $yellow-700; }
  &-800 { background-color: $yellow-800; }
  &-800 { background-color: $yellow-800; }
  &-900 { background-color: $yellow-900; }
}

.bg-green {
  &-100 { background-color: $green-100; }
  &-200 { background-color: $green-200; }
  &-300 { background-color: $green-300; }
  &-400 { background-color: $green-400; }
  &-500 { background-color: $green-500; }
  &-600 { background-color: $green-600; }
  &-700 { background-color: $green-700; }
  &-800 { background-color: $green-800; }
  &-800 { background-color: $green-800; }
  &-900 { background-color: $green-900; }
}

.bg-teal {
  &-100 { background-color: $teal-100; }
  &-200 { background-color: $teal-200; }
  &-300 { background-color: $teal-300; }
  &-400 { background-color: $teal-400; }
  &-500 { background-color: $teal-500; }
  &-600 { background-color: $teal-600; }
  &-700 { background-color: $teal-700; }
  &-800 { background-color: $teal-800; }
  &-800 { background-color: $teal-800; }
  &-900 { background-color: $teal-900; }
}

.bg-blue {
  &-100 { background-color: $blue-100; }
  &-200 { background-color: $blue-200; }
  &-300 { background-color: $blue-300; }
  &-400 { background-color: $blue-400; }
  &-500 { background-color: $blue-500; }
  &-600 { background-color: $blue-600; }
  &-700 { background-color: $blue-700; }
  &-800 { background-color: $blue-800; }
  &-800 { background-color: $blue-800; }
  &-900 { background-color: $blue-900; }
}

.bg-indigo {
  &-100 { background-color: $indigo-100; }
  &-200 { background-color: $indigo-200; }
  &-300 { background-color: $indigo-300; }
  &-400 { background-color: $indigo-400; }
  &-500 { background-color: $indigo-500; }
  &-600 { background-color: $indigo-600; }
  &-700 { background-color: $indigo-700; }
  &-800 { background-color: $indigo-800; }
  &-800 { background-color: $indigo-800; }
  &-900 { background-color: $indigo-900; }
}

.bg-purple {
  &-100 { background-color: $purple-100; }
  &-200 { background-color: $purple-200; }
  &-300 { background-color: $purple-300; }
  &-400 { background-color: $purple-400; }
  &-500 { background-color: $purple-500; }
  &-600 { background-color: $purple-600; }
  &-700 { background-color: $purple-700; }
  &-800 { background-color: $purple-800; }
  &-800 { background-color: $purple-800; }
  &-900 { background-color: $purple-900; }
}

.bg-pink {
  &-100 { background-color: $pink-100; }
  &-200 { background-color: $pink-200; }
  &-300 { background-color: $pink-300; }
  &-400 { background-color: $pink-400; }
  &-500 { background-color: $pink-500; }
  &-600 { background-color: $pink-600; }
  &-700 { background-color: $pink-700; }
  &-800 { background-color: $pink-800; }
  &-800 { background-color: $pink-800; }
  &-900 { background-color: $pink-900; }
}
